<DOCTYPE html!>
<html lang="en">
<head>
  <meta charset=UTF-8">
  <meta name="viewport" content="width=device-width,
    intial-scale=1.0">
  <title>About</title>
      <link rel="stylesheet"href="{{url_for(static', filename='css/style.css') }}">
  
</head>
<body>
<h1>{{my_name}}</h1>
<p> {{my_description </p>
  
<section> Our hobbies and skills</section>
  <h2> Our hobbies are playing online games and spending free time reading books.Our skills are drawing and dancing</p>
  </section>

<section>
  <h2>Skills</h2>
  <ul>
    <li>python</li>
    <li>Javascript</li>
    <li>HTML & CSS</li>
    <li>Flask & Django</li>
    <li>React & Vue.js</li>
  </ul>
</section>
<img style="width:400px" src="{{url_for('static', filename='images/girl.jpg ')}}" alt="Contact image">

</body>
</html>